<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="RestfulServiceTask.MagazineService.MagazineService">
        <endpoint address="http://localhost:8735/MagazineService" binding="webHttpBinding" contract="RestfulServiceTask.MagazineService.IMagazineService" behaviorConfiguration="webby"/>

      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>